<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shinobis Association - Home</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/nav.css">

</head>
<body>
    <header>
        <h1>Shinobis Association</h1>
        <nav>
            <ul>
                <li><a href="index.html"><u>Accueil</u></a></li>
                <li><a href="ninja_list.html">Ninjas</a></li>
                <li><a href="rankings.html">Classements</a></li>
                <li><a href="news.html">Actualités</a></li>
                <li><a href="competitions.html">Compétitions</a></li>
            </ul>
            <button class="connexion" id="openModal">Connexion</button>
        </nav>
    </header>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <section id="login">
                <h2 id="section-elements">Login</h2>
                <form id="section-elements" action="/login" method="post">
                    <input type="text" placeholder="Username" id="username" name="username"> <br> <br>
                    <input type="password" placeholder="Password" id="password" name="password"> <br> <br>
                    <button type="submit">Login</button>
                </form>
            </section-->
        </div>
    </div>

    <div>
        <section id="latest-news">
            <h2 id="section-elements">Latest News</h2>
            <article>
                <h3 id="section-elements">New Season Begins!</h3>
                <p id="section-elements">The latest season of the Shinobi competition is starting soon! Stay tuned for updates.</p>
            </article>
        </section>

        <section id="upcoming-events">
            <h2 id="section-elements">Upcoming Events</h2>
            <ul>
                <li id="section-elements">Chuunin Exam - Quarterfinals (August 20th)</li>
                <li id="section-elements">Jounin Invitational (September 10th)</li>
            </ul>
        </section>
    </div>

    <footer>
        <p">&copy; 2024 Shinobis Association</p>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>
