<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <!--link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"-->
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">



    <!--?php
    $user = "root";
    $pass = "";

    try {
        $db = new PDO ("mysql:host=127.0.0.1;dbname=shinobi", $user, $pass);
        foreach ($db->query("SELECT * FROM membres") as $row) {
            print_r($row);
        }
    }
    catch (PDOException $e) {
        print "Erreur :" . $e->getMessage() . "<br/>";
        die;
    }
    ?-->

</head>
<body>
    <header>
        <h1>Association Shinobis</h1>
        <nav>
            <button><a class="navig" href="index.html"><b>Accueil</b></a></button>
            <button><a class="navig" class="navig" href="ninja_list.html">Ninjas</a></button>
            <button><a class="navig" href="rankings.html">Classements</a></button>
            <button><a class="navig" href="news.html">Actualités</a></button>
            <button><a class="navig" href="competitions.html">Compétitions</a></button>
            <button class="connexion" id="openModal">Connexion</button>
        </nav>
    </header>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <section id="login">
                <h2 id="section-elements">Connexion</h2>
                <form id="section-elements" action="/login" method="post">
                    <input type="text" placeholder="Identifiant" id="username" name="username"> <br> <br>
                    <input type="password" placeholder="Mot de Passe" id="password" name="password"> <br> <br>
                    <button type="submit">Connexion</button>
                </form>
            </section-->
        </div>
    </div>

    <div>
        <section id="latest-news">
            <h2 id="section-elements">Dernières Actualités</h2>
            <article>
                <h3 id="section-elements">La Nouvelle Saison Commence !</h3>
                <p id="section-elements">La toute dernière saison de la compétition Shinobi commencera bientôt ! <br> Restez bien à l'écoute pour recevoir les mises à jour.</p>
            </article>
        </section>

        <section id="upcoming-events">
            <h2 id="section-elements">Évènements à Venir</h2>
            <ul>
                <li id="section-elements">Examen Chuunin - Quarts de finale (Le 20 Août)</li>
                <li id="section-elements">Invitation Jounin(Le 10 Septembre)</li>
            </ul>
        </section>
    </div>

    <footer>
        <p">&copy; Association Shinobis 2024</p>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>
