<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Space</title>
    <link rel="stylesheet" href="/static/css/member_space.css">
    <link rel="stylesheet" href="/static/css/nav.css">

</head>
<body>
    <header>
        <h1>Shinobis Association</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="ninja_list.html">Ninja List</a></li>
                <li><a href="rankings.html">Rankings</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="competitions.html">Competitions</a></li>
                <li><a href="member_space.html"><u>Member Space</u></a></li>
            </ul>
        </nav>
    </header>

    <section id="member-dashboard">
        <h2>Welcome, [Username]</h2>
        <p>Here you can view your personal information, competition history, and settings.</p>
    </section>

    <footer>
        <p>&copy; 2024 Shinobis Association</p>
    </footer>
    <script src="/static/js/member_space.js"></script>
</body>
</html>
