<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/static/css/news.css">
    <link rel="stylesheet" href="/static/css/nav.css">

</head>
<body>
    <header>
        <h1>Shinobis Association - News</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="ninja_list.html">Ninja List</a></li>
                <li><a href="rankings.html">Rankings</a></li>
                <li><a href="news.html"><u>News</u></a></li>
                <li><a href="competitions.html">Competitions</a></li>
                <li><a href="member_space.html">Member Space</a></li>
            </ul>
        </nav>
    </header>

    <section id="news-section">
        <h2>Latest News</h2>
        <article>
            <h3>Shinobi World Cup</h3>
            <p>The Shinobi World Cup is just around the corner. All eyes are on Team 7 and their chance to win this prestigious competition.</p>
        </article>
    </section>

    <footer>
        <p>&copy; 2024 Shinobis Association</p>
    </footer>
    <script src="/static/js/news.js"></script>
</body>
</html>
