<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/static/css/news.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Association Shinobis</h1>
        <nav>
            <button><a class="navig" href="index.html">Accueil</a></button>
            <button><a class="navig" class="navig" href="ninja_list.html">Ninjas</a></button>
            <button><a class="navig" href="rankings.html">Classements</a></button>
            <button><a class="navig" href="news.html"><b>Actualités</b></a></button>
            <button><a class="navig" href="competitions.html">Compétitions</a></button>
            <button class="connexion" id="openModal">Connexion</button>
        </nav>
    </header>

    <section id="news-section">
        <h2>Dernières Actualités</h2>
        <article>
            <h3>Coupe du Monde Shinobi</h3>
            <p>La Coupe du Monde Shinobi approche à grands pas ! <br> Tous les regards sont tournés vers l'équipe 7 et sa chance de remporter cette prestigieuse compétition !</p>
        </article>
    </section>

    <footer>
        <p>&copy; Association Shinobis 2024</p>
    </footer>
    <script src="/static/js/news.js"></script>
</body>
</html>
