<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja List</title>
    <link rel="stylesheet" href="/static/css/ninja_list.css">
    <link rel="stylesheet" href="/static/css/nav.css">

</head>
<body>
    <header>
        <h1>Shinobis Association</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="ninja_list.html"><u>Ninja List</u></a></li>
                <li><a href="rankings.html">Rankings</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="competitions.html">Competitions</a></li>
                <li><a href="member_space.html">Member Space</a></li>
            </ul>
        </nav>
    </header>

    <section id="ninja-list">
        <h2>List of Ninjas</h2>
        <table id="ninja-table">
            <thead>
                <tr>
                    <th>Matricule</th>
                    <th>Nationalité</th>
                    <th>Region</th>
                    <th>Equipe</th>
                    <th>Shinobi</th>
                    <th>Titres</th>
                    <th>Ligue</th>
                    <th>Points</th>
                    <th>MJ</th>
                    <th>W</th>
                    <th>L</th>
                    <th>Rang</th>
                    <th>WR</th>
                    <th>Première Année</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12345</td>
                    <td>Konoha</td>
                    <td>FIRE</td>
                    <td>Team 7</td>
                    <td>Naruto Uzumaki</td>
                    <td>Hokage</td>
                    <td>A</td>
                    <td>500</td>
                    <td>50</td>
                    <td>45</td>
                    <td>5</td>
                    <td>1</td>
                    <td>90%</td>
                    <td>2000</td>
                </tr>
            </tbody>
        </table>
    </section>

    <footer>
        <p>&copy; 2024 Shinobis Association</p>
    </footer>
    <script src="/static/js/ninja_list.js"></script>
</body>
</html>
