<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjas</title>
    <link rel="stylesheet" href="/static/css/ninja_list.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Association Shinobis</h1>
        <nav>
            <button><a class="navig" href="index.html">Accueil</a></button>
            <button><a class="navig" class="navig" href="ninja_list.html"><b>Ninjas</b></a></button>
            <button><a class="navig" href="rankings.html">Classements</a></button>
            <button><a class="navig" href="news.html">Actualités</a></button>
            <button><a class="navig" href="competitions.html">Compétitions</a></button>
            <button class="connexion" id="openModal">Connexion</button>
        </nav>
    </header>

    <section id="ninja-list">
        <h2>Les Ninjas</h2>
        <table id="ninja-table">
            <thead>
                <tr>
                    <th>Matricule</th>
                    <th>Nationalité</th>
                    <th>Region</th>
                    <th>Equipe</th>
                    <th>Shinobi</th>
                    <th>Titres</th>
                    <th>Ligue</th>
                    <th>Points</th>
                    <th>MJ</th>
                    <th>W</th>
                    <th>L</th>
                    <th>Rang</th>
                    <th>WR</th>
                    <th>Première Année</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12345</td>
                    <td>Konoha</td>
                    <td>FIRE</td>
                    <td>Team 7</td>
                    <td>Naruto Uzumaki</td>
                    <td>Hokage</td>
                    <td>A</td>
                    <td>500</td>
                    <td>50</td>
                    <td>45</td>
                    <td>5</td>
                    <td>1</td>
                    <td>90%</td>
                    <td>2000</td>
                </tr>
            </tbody>
        </table>
    </section>

    <footer>
        <p>&copy; Association Shinobis 2024</p>
    </footer>
    <script src="/static/js/ninja_list.js"></script>
</body>
</html>
