body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

section {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

article {
    margin-bottom: 20px;
    
}

article h3 {
    margin-top: 0;
}

article p {
    font-size: 1.1em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #333;
    color: white;
}

#news-section {
    border-radius: 5px;
}